---
import Social from '../components/Social.astro';
const platform = "github";
const username = "letitloose";
---

<footer>
  <p>Learn more about my projects on <Social platform="github" username="letitloose" />
    <Social platform="linkedin" username="louisgarwood" />!</p>
</footer>